* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8f8f8;
    font-family: 'Roboto Serif', serif;
}

header {
    background-color: white;
}

nav {
    display: flex;
    justify-content: flex-end;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

nav div {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    align-items: center;
}

h1 {
    padding-left: 30px;
    font-size: 1.5rem;
}

li {
    list-style: none;
}

.liNav {
    padding: 0 30px;
    margin-right: 0;
}

.linkNavBar {
    color: #6fcdcf;
    font-size: 1.5rem;
    text-decoration: none;
}

.miNav{
    padding-left: 25rem;
}

img {
    height: 100px;
    width: auto;
}

.material-icons {
    font-size: 2rem;
}

#itemCount {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#itemCount p {
    padding: 0 20px;
    margin-bottom: 0;
}

.detalle {
    margin: 40px auto;
    display: flex;   
}

.imgCard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    object-fit: cover;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

#imgDetalle {
    width: 80%;
    height: auto;
}

.descriptionCard {
    width: 40%;
    padding: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

#description {
    font-size: 18px;
}

.title{
    font-size: 28px;
}

.myCard {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

#botonDetail {
    width: 40%;
    margin: auto;
}

footer {
    background-color: #6fcdcf;
    width: 100%;
    padding: 20px 0;
    margin-top: 50px;
}

footer h6{
    text-align: center;
    color: white;
}

#containerSpinner{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#spinner {
   margin: 200px 0;
}

#listaProductos {
    margin-bottom: 50px;
}

#cardItem {
    width: 15rem;
    height: 100%;
}

.btnCompra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.myButton {
    margin: 10px 0;
    background-color: #6fcdcf;
    border-color: #6fcdcf;
}

.myButton:hover{
    background-color: white;
    border-color: #6fcdcf;
    color: #6fcdcf;
}

#formulario {
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    border-radius: 2px;
}

#formulario button {
    margin: 20px 0 10px 0;
}

.cart{
    display: flex;
    width: 100%;
    margin: 30px auto 20px auto;
}

#imgCart{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#imgCart img {
    width: 80%;
    height: auto;
}

.detalleCart{
    display: flex;
    width: 80%;
    padding: 20px;
}

.detalleCart button {
    margin-right: 10px;
}

.total{
    padding: 20px;
    width: 83%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#cartEmpty{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 350px;
    color:#6fcdcf;
}

.iconosTips {
    font-size: 1.5rem;
    font-weight: 400;
    padding-right: 1rem;
}

.iconosListaTips {
    font-size: 1rem;
    padding-right: 1rem;
}

.itemForm {
    padding-top: 1rem;
}

.misTitulos {
    text-align: center;
    color: #0d6efd;
}

.tituloTips {
    margin: 40px 0;
}

#imgLogo:hover {
    transform: scale(1.1);
    transition: 0.2s;
}



@media screen and (max-width: 768px) {

    .miNav{
        display: flex;
        flex-direction: column;
        padding-left: 4rem;
    }

    .miSubNav {
        display: flex;
        flex-direction: column;
    }

    #cardItem {
        width: 70%;
        height: 100%;
        margin: auto;
    }

    .detalle {
        flex-direction: column;   
    }

    .imgCard {
        width: 80%;
        margin: auto;
    }

    .descriptionCard {
        width: 80%;
        margin: auto;
        text-align: center;
    }

    #description {
        font-size: 12px;
    }

    .title{
        font-size: 20px;
    }

    .bodyTips {
        font-size: 12px;
    }
    
    #formulario {
        width: 80%;
        margin: 30px auto;
    }

    #imgCart{
        width: 30%;
    }
    
    #imgCart img {
        width: 70%;
    }

    .total{
        width: 90%;
        margin: auto;
    }
}