* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(190, 245, 227);
}

header {
    background-color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

nav div {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    justify-items: flex-end;
    align-items: center;
}

h1 {
    padding-left: 30px;
    font-size: 1.5rem;
}

li {
    padding: 0 60px;
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

img {
    height: 100px;
    width: auto;
}

.material-icons {
    font-size: 2rem;
}

#itemCount {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#itemCount p {
    padding: 0 20px;
    margin-bottom: 0;
}

.detalle {
    margin: 40px auto;
    display: flex;   
}

.imgCard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    object-fit: cover;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

#imgDetalle {
    width: 80%;
    height: auto;
}

.descriptionCard {
    width: 40%;
    padding: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

#description {
    font-size: 18px;
}

.title{
    font-size: 28px;
}

.myCard {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

#botonDetail {
    width: 40%;
    margin: auto;
}

footer {
    background-color: white;
    width: 100%;
    padding: 20px 0;
    margin-top: 50px;
}

footer h6{
    text-align: center;
    color: rgb(90, 138, 122);
}

#containerSpinner{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#spinner {
   margin: 200px 0;
}

.titulosProvisorios{
    text-align: center;
    margin-top: 150px;
    height: 250px;
}

#listaProductos {
    margin-bottom: 50px;
}

.btnCompra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.myButton {
    margin: 10px 0;
    background-color: rgb(90, 138, 122);
    border-color: rgb(90, 138, 122);
}

.myButton:hover{
    background-color: white;
    border-color: rgb(90, 138, 122);
    color: rgb(90, 138, 122);
}

#formulario {
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    border-radius: 2px;
}

#formulario button {
    margin: 20px 0 10px 0;
}
